/* ----------------- Fonts ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merienda&display=swap');

/* ----------------- Document ----------------- */

html {
    background-image: linear-gradient(to top, #015374, #B1F4FC);
    background-color: #B1F4FC;
    color: black;
    font-family: 'Merienda', cursive;
    height: 100%;
}

h3 {
    font-family: 'Berkshire Swash', cursive;
}

button {
    font-family: 'Merienda', cursive;
}

a {
    color: black;
}

form .input-field input, form .input-field label {
    color: black;
}

.btn {
    background-image: url('../images/dark_wood.png');
    background-repeat: repeat;
    color: white;
}

.card-panel {
    background-image: url('../images/wood_pattern.png');
    background-repeat: repeat;
    border: 2px outset gray;
    border-radius: 3%;
}

/* ----------------- Base ----------------- */

header {
    margin-bottom: 20px;
}

.nav-wrapper {
    background-color: #395461;
}

.sidenav h4 {
    color: #395461;
}

.collapsible {
    background-image: url('../images/tex_Water.png');
    background-repeat: repeat;
}

.collapsible-header {
    background-image: url('../images/tex_Water.png');
    background-repeat: repeat;
    border-bottom: none;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.logo-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: large;
}

.label-icon i {
    vertical-align: sub;
}

.nav-wrapper .right .input-field .search-hidden {
    width: 0vw;
    transition: width 0.5s;
}

.nav-wrapper .right .input-field .search-shown {
    width: 30vw;
    transition: width 0.5s;
}

/* ----------------- Index  ----------------- */

.topic {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px outset gray;
    background-image: url('../images/wood_pattern.png');
    background-repeat: repeat;
}

/* ----------------- Discussion  ----------------- */

.discussion-topic {
    border: 2px double black;
}

/* .speech-bubble, .chat-right:before and .chat-left:before were taken from codingislove.com */
.speech-bubble {
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    text-align: center;
    font-weight: 600;
    position: relative;
}

.chat-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00bfb6;
    border-right: 15px solid transparent;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}

.chat-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00bfb6;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.post p {
    font-size: 14px;
}

.post-profile-picture {
    width: 49px;
    height: 49px;
}

/* ----------------- Profile  ----------------- */

.profile-picture {
    height: 250px;
    width: 250px;
}

.profile-info {
    font-size: 20px;
}

.edit-profile-button{
    margin-bottom: 20px;
}

/* ----------------- Media Queries  ----------------- */
@media screen and (max-width: 500px) {
    .logo-text {
        display: none;
    }

    .nav-wrapper .right .input-field .search-shown {
    width: 40vw;
    transition: width 0.5s;
}
}