/* ----------------- Fonts ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merienda&display=swap');

/* ----------------- Document ----------------- */

html {
    background-image: linear-gradient(to top, #01173f, #B1F4FC);
    background-color: #B1F4FC;
    background-attachment: fixed;
    color: black;
    font-family: 'Merienda', cursive;
    height: 100%;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

main {
    padding-bottom: 50px;
}

h3 {
    font-family: 'Berkshire Swash', cursive;
}

button {
    font-family: 'Merienda', cursive;
}

a {
    color: black;
}

form .input-field input, form .input-field label {
    color: black;
}

.btn {
    background-image: url('../images/dark_wood.png');
    background-repeat: repeat;
    color: white;
}

.card-panel {
    border: 2px outset gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

/* ----------------- Base ----------------- */

header {
    margin-bottom: 20px;
}

.nav-wrapper {
    background-color: #395461;
}

.sidenav h4 {
    color: #395461;
}

.collapsible {
    background-image: url('../images/tex_Water.png');
    background-repeat: repeat;
}

.collapsible-header {
    background-image: url('../images/tex_Water.png');
    background-repeat: repeat;
    border-bottom: none;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.logo-text {
    font-family: 'Berkshire Swash', cursive;
    font-size: large;
}

.label-icon i {
    vertical-align: sub;
}

.nav-wrapper .right .input-field .search-load {
    width: 0vw;
}

.nav-wrapper .right .input-field .search-hidden {
    width: 0vw;
    transition: width 0.5s;
}

.nav-wrapper .right .input-field .search-shown {
    width: 30vw;
    transition: width 0.5s;
}

/* ----------------- Index ----------------- */

.title {
    margin-top: 0px;
}

.topics-list {
    padding: 20px 10px 0px;
    border: 2px outset gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.topic {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0px 10px 20px;
    border: 2px outset gray;
    border-radius: 5px;
    background-color: white;
}

.topic-title {
    margin-bottom: 10px;
    font-size: large;
}

.topic-description {
    margin-bottom: 10px;
}

.topic-author {
    margin-bottom: 10px;
}

.topic-info {
    color: grey;
}

/* ----------------- Discussion ----------------- */

/* .speech-bubble, .chat-right:before and .chat-left:before were taken from codingislove.com */
.speech-bubble {
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    text-align: center;
    font-weight: 600;
    position: relative;
}

.chat-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #00bfb6;
    border-right: 15px solid transparent;
    border-top: 15px solid #00bfb6;
    right: -16px;
    top: 0px;
}

.chat-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00bfb6;
    border-top: 15px solid #00bfb6;
    left: -16px;
    top: 0px;
}

.post-options-button {
    margin-right: 5px;
}

.post-text {
    font-size: 14px;
    overflow-wrap: break-word;
    padding-left: 5px;
    padding-right: 10px;
    width: 100%;
}

.edit-post-area {
    font-size: 14px;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
}

.edit-post-button {
    margin-bottom: 5px;
}

.post-profile-picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

#discussion-send-button {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    padding: 0;
    border-radius: 50%;
}

.post .user-portrait {
    padding: 0px;
}

.footer {
    background-color: whitesmoke;
    position: sticky;
    bottom: 0;
    border-radius: 10px;
    border: 2px outset gray;
    padding-left: 20px;
}

/* ----------------- Profile ----------------- */

.profile-picture {
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    
}

.profile-info {
    font-size: 20px;
}

.edit-profile-button{
    margin-bottom: 20px;
}

/* ----------------- Edit Profile ----------------- */

#profile_picture {
    margin-top: 15px;
}

/* ----------------- Media Queries ----------------- */
@media screen and (max-width: 500px) {
    .logo-text {
        display: none;
    }

    .nav-wrapper .right .input-field .search-shown {
    width: 40vw;
    transition: width 0.5s;
    }
}

