/* ----------------- Base ----------------- */

header {
    margin-bottom: 20px;
}

.logo {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.label-icon i {
    vertical-align: sub;
}

#search {
    width: 0px;
}


/* ----------------- Index  ----------------- */

.topic {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px double black;
}