<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juan Bracho">
    <meta name="description" content="Discuss with other scallywags over virtual seas, parlay your own way!">
    <!-- Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Virtual Parlay</title>
</head>

<body>
    <!-- Header -->
    <header class="navbar-fixed">
        <!-- Top navbar -->
        <nav class="text-shadow light-blue darken-1">
            <div class="nav-wrapper">
                <!-- Logo -->
                <a href="{{ url_for('index') }}" class="left valign-wrapper"><img class="logo"
                        src="{{ url_for('static', filename='images/logo.png') }}" alt="Jolly Roger logo"><span class="logo-text">Virtual
                    Parlay</span></a>
                <!-- Mobile Trigger -->
                <a href="#" data-target="mobile-trigger" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <!-- Button Menu -->
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">All Topics</a></li>
                    <li><a href="{{ url_for('create_topic') }}">New Topic</a></li>
                    {% if session.user_id %}
                        <li><a href="{{ url_for('profile', user_id=session['user_id']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
                <!-- Search -->
                <form method="POST" action="{{ url_for('search') }}" class="right">
                    <div class="input-field">
                        <input class="search-load" onblur="hideSearchField(this)" onfocus="showSearchField(this)"
                            name="search" id="search" type="search" placeholder="Search topics..." required>
                        <label class="label-icon" for="search"><i class="fa fa-search"></i></label>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <!-- Mobile sidenav -->
    <ul class="sidenav" id="mobile-trigger">
        <li>
            <h4 class="center-align">Virtual Parlay</h4>
        </li>
        <li><a href="{{ url_for('index') }}">All Topics</a></li>
        <li><a href="{{ url_for('create_topic') }}">New Topic</a></li>
        {% if session.user_id %}
            <li><a href="{{ url_for('profile', user_id=session['user_id']) }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
    <!-- Flash messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!-- Block for templates -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Waves animation courtesy of Jelena Jovanovic, https://codepen.io/plavookac -->
    <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom"></div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>