{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">{{ topic_info.title }}</h3>
    <div class="container">
        <!-- Post Title and Description -->
        <div class="row discussion-topic">
            <p class="col s12 center-align">{{ topic_info.description }}</p>
        </div>
        <!-- Posts -->
        <div class="row posts-section">
            {% for post in posts %}
                {% if post.author == session['user_id'] %}
                    <!-- Own posts -->
                    <div class="row post own-post">
                        <div class="col s11 speech-bubble chat-right post">
                            <div class="hide">
                                <!-- Edit/Delete button -->
                                <a class="dropdown-trigger post-options-button" href="#" data-target="post-options">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <!-- Edit/Delete dropdown -->
                                <ul id="post-options" class="dropdown-content">
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </div>                  
                            <p>{{ post.post }}</p>
                        </div>
                        <div class="col s1 user-portrait">
                            <a href="#!">
                                <i class="fa fa-user center-align" aria-hidden="true"></i> 
                            </a>
                        </div>
                    </div>
                {% else %}
                    <!-- Other posts -->
                    <div class="row post">
                        <div class="col s1 user-portrait">
                            <a href="#!">
                                <i class="fa fa-user center-align" aria-hidden="true"></i> 
                            </a>
                        </div>
                        <div class="col s11 speech-bubble chat-left">
                            <p>{{ post.post }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}        
        </div>
        <form class="row fixed-bottom" method="POST" action="{{ url_for('discussion', topic=topic_info._id) }}">
            <div class="col s9 input-field">
                <textarea id="post" name="post" type="text" class="materialize-textarea" required></textarea>
                <label for="post"></label>
            </div>
            <div class="col s3">
                <button class="btn" type="submit">Send</button>
            </div>
        </form>
    </div>
{% endblock %}

