{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discussion.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Topic area -->
            <div id="topic_area" class="card-panel col s12 offset-m2 m8 offset-xl3 xl6">
                <!-- Post Title and Description -->
                <h3 class="center-align">{{ topic_info.title }}</h3>
                <div class="row">
                    <p class="col s12 center-align">{{ topic_info.description }}</p>
                </div>
                {% if topic_info.author == session['user_id'] or session['rank'] == 'admin' %}
                    <!-- Edit/Delete buttons -->
                    <div class="row center-align">
                        <button class="btn" onclick="showTopicEdit()" type="button">Edit</button>
                        <a class="btn" href="{{ url_for('delete_topic', topic=topic_info._id) }}">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Edit Topic form -->
        <div id="edit_topic_area" class="row card-panel hide">
            <form method="POST" action="{{ url_for('edit_topic', topic=topic_info._id) }}">
                <!-- Title -->
                <div class="col s12 center-align input-field">
                    <input id="topic_title" name="topic_title" type="text" minlength="5" maxlength="40" class="validate"
                        value="{{ topic_info.title }}" required>
                    <label for="topic_title">Title</label>
                </div>
                <!-- Description -->
                <div class="col s12 input-field">
                    <textarea id="topic_description" name="topic_description" type="text" minlength="5" max="200"
                        class="validate materialize-textarea" required>{{ topic_info.description }}</textarea>
                    <label for="topic_description">Description</label>
                </div>
                <!-- Cancel/Confirm buttons -->
                <div class="row">
                    <div class="center-align">
                        <button class="btn" onclick="hideTopicEdit()" type="button">Cancel</button>
                        <button class="btn" type="submit">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Posts -->
        <div class="row posts-section">
            {% for post in posts %}
                {% if post.author == session['user_id'] or session['rank'] == 'admin' %}
                    <!-- Own posts -->
                    <div class="row post own-post">
                        <div class="col s9 m10 l11 speech-bubble chat-right post valign-wrapper">
                            <!-- Edit/Delete button -->
                                <a class="dropdown-trigger post-options-button left" href="#" data-target="post-options_{{ post._id }}">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <!-- Edit/Delete dropdown -->
                                <ul id="post-options_{{ post._id }}" class="dropdown-content">
                                    <li><a data-post="{{ post._id }}" onclick="showPostEdit(this)"
                                            type="button">Edit</a></li>
                                    <li><a href="{{ url_for('delete_post', post=post._id) }}">Delete</a></li>
                                </ul>
                            <!-- Post Edit form -->
                            <div id="edit_post_area_{{ post._id }}" class="hide edit-post-area">      
                                <form method="POST" action="{{ url_for('edit_post', post=post._id) }}">
                                    <!-- Post text -->
                                    <textarea id="post_edit_{{ post._id }}" name="post_edit_{{ post._id }}" type="text"
                                        class="materialize-textarea" required>{{ post.post }}</textarea>
                                    <label for="post_edit_{{ post._id }}"></label>
                                    <!-- Cancel/Save buttons -->
                                    <div class="center-align">
                                        <button class="btn edit-post-button" type="submit">Save</button>
                                        <button class="btn edit-post-button" data-post="{{ post._id }}" onclick="hidePostEdit(this)"
                                            type="button">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Post text -->
                            <p id="post_text_{{ post._id }}" class="post-text">{{ post.post }}</p>
                        </div>        
                        <!-- Profile picture -->
                        <div class="col s1 user-portrait right">
                            <a href="{{ url_for('profile', user_id=post.author) }}">
                                <img class="post-profile-picture right" src="{{ url_for('send_file', filename=post.author) }}" alt="Profile Picture">
                            </a>
                        </div>
                    </div>
                {% else %}
                    <!-- Other posts -->
                    <div class="row post">
                        <!-- Profile picture -->
                        <div class="col s1 user-portrait">
                            <a href="{{ url_for('profile', user_id=post.author) }}">
                                <img class="post-profile-picture" src="{{ url_for('send_file', filename=post.author) }}" alt="Profile Picture">
                            </a>
                        </div>
                        <!-- Post Text -->
                        <div class="col offset-s2 s9 offset-m1 m10 offset-l0 l11 speech-bubble chat-left left">
                            <p class="post-text">{{ post.post }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- New Post form -->
        {% if session.user_id %}
            <div class="row footer">        
                <form method="POST" action="{{ url_for('create_post', topic=topic_info._id) }}">
                    <div class="col s9 m10 l11 input-field">
                        <textarea id="post" name="post" type="text" class="materialize-textarea" required></textarea>
                        <label for="post"></label>
                    </div>
                    <div class="input-field valign-wrapper">
                        <button id="discussion-send-button" class="btn" type="submit"><i class="fa fa-comment center-align" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/discussion.js') }}"></script>
{% endblock %}