{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Log In</h3>
<div class="container">
    <!-- Login form -->
    <form>
        <div class="row center-align">
            <input type="text" placeholder="Email">
        </div>
        <div class="row center-align">
            <input type="text" placeholder="Password">
        </div>
        <div class="row center-align">
            <button class="btn" type="submit">Log In</button>
        </div>
    </form>
</div>
{% endblock %}