{% extends "base.html" %}
{% block content %}
<h3 class="center-align">User's Profile</h3>
<div class="container">
    <!-- Profile Picture -->
    <div class="center-align">
        <img class="profile-picture" src="static/images/logo.png" alt="asd">
    </div>
    <!-- Profile Info -->
    <div class="row">
        <ul class="profile-info center-align">
            <li>User: <span>John</span></li>
            <li>Posts: <span>12</span></li>
        </ul>
    </div>
    <!-- Edit Profile Button -->
    <div class="center-align">
        <button>Edit Profile</button>
    </div>
</div>
{% endblock %}